<h1>Find a Word...</h1>
<% form_tag(:action => url(:controller => "words", :action => "eng_search")) do %>
  <%= text_field :name => 'word', :label => 'English Word' %><br />
  <%= submit_button 'Search' %>
<% end %>
<% form_tag(:action => url(:controller => "words", :action => "speed_search")) do %>
  <%= text_field :name => 'word', :label => 'SpeedWord' %><br />
  <%= submit_button 'Search' %>
<% end %>
